body{
    width: 80%;
    margin: 0 auto;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

h1{
    background-color: rgb(152, 152, 236);
    padding: .5rem;
    text-align: center;
    border-radius: 3px;
    color: white;
}

label{
    font-size: 1.2rem;
    display: block;
}

input{
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
}

.signin > input{
    align-self: center;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.signin > input:hover{
    background-color: rgb(3, 3, 70);
}
